{% extends "LMRA/base.html" %}
{% load static %}
{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Work safe, or don't work at all.</h1>
        <p class="lead">
            A portal for the submission of LMRA's and Unsafe conditions.
        </p>
        {% if user.is_authenticated %}
            <a class="btn btn-lg btn-primary" href="{% url 'LMRA:create' %}"
            role="button">Create LMRA &raquo;</a>
            <a class="btn btn-lg btn-danger" href="{% url 'unsafe_condition:create' %}"
            role="button">Report Unsafe Condition &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>

        {% endif %}
    </div>
{% endblock page_header %}
{% block content %}
    <img src="{% static 'img/logo.png' %}" alt="My Logo" class="logo-img">
{% endblock content %}